.venv/
venv/
__pycache__/
*.pyc
db.sqlite3
# media/students/
# media/models/
# media/review_queue/
# media/unknown_faces/
# staticfiles/
venv/
SecPresence.spec
build-pyinstaller.err.log
build-pyinstaller.out.log
build/
build_windows.ps1
desktop_launcher.py
dist/
installer.iss
rebuild-pyinstaller.err.log
rebuild-pyinstaller.out.log
release/